.card-item {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 400px;
    max-width: 400px;
    margin-bottom: 24px;
}

.card-item:hover {
    background: #e4e4e4;
    cursor: pointer;
}

.card-item-type {
    display: flex;
}

.card-item-type p {
    padding: 4px;
    border: 1px solid grey;
    border-radius: 4px;
    margin-right: 4px;
}

.card-item-btn-detail {
    margin-bottom: 4px;
}
