.card-item {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 400px;
    min-width: 300px;
    max-width: 400px;
    margin-bottom: 24px;

    &:hover {
        background: #e4e4e4;
        cursor: pointer;
    }

    &-type {
        display: flex;

        & p {
            padding: 4px 8px;
            border: 1px solid grey;
            border-radius: 4px;
            margin-right: 8px;
        }
    }

    &-status {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }

    &-btn-detail {
        margin-bottom: 4px;
    }

    &-btn-compare:disabled {
        cursor: not-allowed;
    }
}
