.floating-compare {
    min-width: 300px;
    position: fixed;
    bottom: 20px;
    right: 20px;

    &-top {
        display: flex;
        justify-content: center;
        border: 1px solid grey;
        align-items: center;
        padding: 4px;
        background: #ffffff;

        & p {
            margin: 0;
        }

        &-vs {
            margin: 0 8px !important;
            font-weight: bold;
        }
    }

    &-bottom-submit, &-bottom-close {
        width: 50%;
        border-radius: 0;
    }

    &-bottom-submit:disabled {
        cursor: not-allowed;
    }
}
